<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center blue-text">Sistema de Liquidaciones</h1>
    <div class="row center">
      <h5 class="header col s12 light"><img src="http://www.cic.gba.gob.ar/wp-content/uploads/2016/09/cic.png"/></h5>
    </div>
    <br><br>

  </div>
</div>
