<nav class="green" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"></a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'ABM Tipo de Categoría', agent_category_types_path %></a></li>
      <li><%= link_to 'ABM Categoría', agent_categories_path %></a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
